# API keys (never commit these)
.env
notebooks/08_sport_bio_navigator/.env
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store 

# Notebook cache files (too large for GitHub)
# 08_embeddings.npy
# 08_chunks.parquet

# just notes
notebooks/my_notes.txt

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# OS
.DS_Store
venv/
